server {
    # Enforce HTTPS
    listen 80 default_server;
    server_name *.sunhill-task.org;
    return 301 https://sunhill-task.org$request_uri;
}

server {
    listen 443 default_server ssl;

    root /var/www/sunhill-task.org/public;
    index index.html index.htm index.php;

    access_log /var/log/nginx/sht-main.log;
    error_log  /var/log/nginx/sht-main-error.log error;

    server_name sunhill-task.org;

    charset utf-8;

    ssl_certificate           /etc/nginx/ssl.crt;
    ssl_certificate_key       /etc/nginx/ssl_crt.key;
    proxy_ssl_verify off;
    location / {
            try_files $uri $uri/ =404;
    }
}

